.title {
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    color: black;
}

.headerContent {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    color: black;
}

@media screen and (max-width: 480px) {
    .titulo {
        font-size: 40px;
    }
}

